<div class="container">
    <div class="row mt-5">

        <div class="offset-md-4 col-md-4">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInput" placeholder="mm/dd/yyyy" #inputDate (blur)="getDate()">
                <label for="floatingInput">Select Date</label>
            </div>
        </div>
        <div class="offset-md-4 col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Age" #inputAge>
                <label for="floatingInput">Select Date</label>
            </div>
        </div>

    </div>

    <div class="container text-center">
        <button class="btn btn-success me-3" (click)="vcChild.increment()">Increment</button><span>{{vcChild.count}}</span>
        <button class="btn btn-success ms-3" (click)="vcChild.decrement()">Increment</button>
        </div>
</div>
<app-vc-child></app-vc-child>