<div class="container">
  <div class="row">
    <h1 class="text-center mt-3">Registration Form</h1>
    <div class="offset-md-4 col-md-4">
      <form [formGroup]="registration" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name" id="exampleInputName"
            aria-describedby="nameHelp">
        </div>
        <div *ngIf="registration.get('name')?.errors?.['required']">Name is required</div>
        <div *ngIf="registration.get('name')?.errors?.['noSpaceAllowed']">Space is not allowed in Name.</div>
        <div *ngIf="registration.get('name')?.errors?.['duplicateUser']">User is Already Exists</div>
        
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="gender" value="Male" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Male
              </label>
            </div>
            <div class="form-check ms-5 form-check-inline">
              <input class="form-check-input" type="radio" formControlName="gender" value="Female"
                id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                Female
              </label>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            </div>
            <div class="mb-3">
              <label for="exampleInputConfirmPassword1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="exampleInputConfirmPassword1" formControlName="confirmpassword">
            </div>
            <div *ngIf="registration.errors?.['passwordMatchError']">Password and Confirm Password are not matched.</div>
            <div class="mb-3">
              <label class="form-label">Select Location</label>
              <select class="form-select" formControlName="location">
                <option selected>Select </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

            <div class="mb-3 form-check">

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="terms"
                  value="true">
                <label class="form-label">Terms & Conditions</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary col-12 mb-1">Submit</button>
            <button type="button" class="btn btn-primary col-12 mb-1" (click)="setValue()">Set Value</button>
            <button type="button" class="btn btn-primary col-12" (click)="patchValue()">Patch Value</button>

      </form>
    </div>
  </div>
</div>