<div class="container">
  <div class="row">
    <h1 class="text-center mt-3">Registration Form</h1>
    <div class="offset-md-4 col-md-4">
      <form #registration="ngForm" (ngSubmit)="submit(registration.value)">
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="name" id="exampleInputName"
            aria-describedby="nameHelp">
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" value="Male" ngModel id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Male
          </label>
        </div>
        <div class="form-check ms-5 form-check-inline">
          <input class="form-check-input" type="radio" name="gender" value="Female" ngModel id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Female
          </label>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="email"
            aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel>
        </div>

        <!-- <div class="mb-3">
        <label class="form-label">Select Location</label>
    <select class="form-select" name="location" ngModel>
        <option selected *ngFor = "let location of locations; let i=index">Select </option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div> -->

        <div class="mb-3 form-check">
          <label class="form-label">Hobbies</label><br>
          <div class="form-check form-check-inline" *ngFor="let hobby of hobbies">
            <input class="form-check-input" type="checkbox" name={{hobby.id}}
              [(ngModel)]="hobby.isSelected">
            <label class="form-label">{{hobby.name}}</label>
          </div>

        </div>
        <button type="submit" class="btn btn-primary col-12">Submit</button>


      </form>
    </div>

    <span>{{registration.value | json}}</span>
  </div>
</div>