<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Marks</th>
                <th>Percentage</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.marks}}</td>
                <td>{{student.marks | percentage}}</td>
                <td>{{student.marks | result}}</td>
             </tr>
        </tbody>
        </table>
</div>
