<div class="container">
    <p>What is Position: Fixed in CSS?
    The ‘fixed’ value for the position property is used to set any element at the fixed position in the HTML viewport. Whenever we set the fixed position for any HTML element, it comes out from the document flow. It sets the position based on the viewport, even if we have added the HTML element inside the div element at the bottom of the web page.
    
    Also, developers can set the position of the HTML element relative to the viewport using the ‘top’, ‘left’, ‘bottom’, and ‘right’ CSS properties while using the ‘position: fixed’.</p>

    <p>What is Position: Fixed in CSS?
        The ‘fixed’ value for the position property is used to set any element at the fixed position in the HTML viewport. Whenever we set the fixed position for any HTML element, it comes out from the document flow. It sets the position based on the viewport, even if we have added the HTML element inside the div element at the bottom of the web page.
        
        Also, developers can set the position of the HTML element relative to the viewport using the ‘top’, ‘left’, ‘bottom’, and ‘right’ CSS properties while using the ‘position: fixed’.</p>
        <p>What is Position: Fixed in CSS?
            The ‘fixed’ value for the position property is used to set any element at the fixed position in the HTML viewport. Whenever we set the fixed position for any HTML element, it comes out from the document flow. It sets the position based on the viewport, even if we have added the HTML element inside the div element at the bottom of the web page.
            
            Also, developers can set the position of the HTML element relative to the viewport using the ‘top’, ‘left’, ‘bottom’, and ‘right’ CSS properties while using the ‘position: fixed’.</p>
        
            <p>What is Position: Fixed in CSS?
                The ‘fixed’ value for the position property is used to set any element at the fixed position in the HTML viewport. Whenever we set the fixed position for any HTML element, it comes out from the document flow. It sets the position based on the viewport, even if we have added the HTML element inside the div element at the bottom of the web page.
                
                Also, developers can set the position of the HTML element relative to the viewport using the ‘top’, ‘left’, ‘bottom’, and ‘right’ CSS properties while using the ‘position: fixed’.</p>
                <p>What is Position: Fixed in CSS?
                    The ‘fixed’ value for the position property is used to set any element at the fixed position in the HTML viewport. Whenever we set the fixed position for any HTML element, it comes out from the document flow. It sets the position based on the viewport, even if we have added the HTML element inside the div element at the bottom of the web page.
                    
                    Also, developers can set the position of the HTML element relative to the viewport using the ‘top’, ‘left’, ‘bottom’, and ‘right’ CSS properties while using the ‘position: fixed’.</p>
                
                    <p>What is Position: Fixed in CSS?
                        The ‘fixed’ value for the position property is used to set any element at the fixed position in the HTML viewport. Whenever we set the fixed position for any HTML element, it comes out from the document flow. It sets the position based on the viewport, even if we have added the HTML element inside the div element at the bottom of the web page.
                        
                        Also, developers can set the position of the HTML element relative to the viewport using the ‘top’, ‘left’, ‘bottom’, and ‘right’ CSS properties while using the ‘position: fixed’.</p>