<div class="container">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Search</label>
        </div>
        <div class="col-auto">
            <input class="form-control" type="text" [formControl]="emp" (keyup)="valueChanges()">
        </div>
      </div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profile of profiles">
            <td>{{profile.id}}</td>
            <td>{{profile.name}}</td>
            <td>{{profile.email}}</td>
            <td>{{profile.password}}</td>
            
        </tr>
        
    </tbody>
</table>
</div>